#product-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#product-details {
  display: flex;
  margin-top: 20px;
}

#product-details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#product-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#product-details .single-pro-details h2 {
  font-size: 26px;
}

#product-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  
}

#product-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}

#product-details .single-pro-details button {
  background-color: #088178;
  color: white;
}

#product-details .single-pro-details span {
  line-height: 25px;
}

/* mobile devices */
@media (max-width: 477px) {
  #product-details {
    flex-direction: column;
  }

  #product-details .single-pro-image {
    width: 100%;
    margin-right: 0;
  }

  #product-details .single-pro-details {
    width: 100%;
  }
}